#container {
  width: 100%;
  height: 100%;

  textarea{
    width: 100%;
    resize: none;
    height: 10em;
  }
  #codeBlock{
    margin-bottom: 10%;
    text-transform: none;
  }
  #form{
    padding-top: 5px;
  }
  #markDiv{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  #mark{
    top: 50%;
    height: 70px;
    position: fixed;
  }
  #send{
    width: 10%;
  }

}

.line-numbers-rows {
  pointer-events: auto!important;
  & > span {
    pointer-events: auto!important;
    cursor: pointer;
  }
}




